{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="TitleNew">{{ todolist.title }}</h1>

<div class='formulario-3'>

    <div class="row row-cols-auto show-icons">
            <a>{{ include('todolist/_delete_task.html.twig') }}</a>
        
            <a href="{{ path('app_todolist_edit', {'id': todolist.id}) }}"><img class='task-actions' src='./media/editar.png'></a>
        </div>

    <div class='formulario3'>
        <table class="table">
            <tbody>
                <tr class='tableTr'>
                    <th>Descripción</th>
                    <td>{{ todolist.description }}</td>
                </tr>
                <tr class='tableTr'>
                    <th>Ubicación</th>
                    <td>{{ todolist.location }}</td>
                </tr>
                <tr class='tableTr'>
                    <th>Fecha</th>
                    <td>{{ todolist.date ? todolist.date|date('Y-m-d') : '' }}</td>
                </tr>
                <tr class='tableTr'>
                    <th>Hora</th>
                    <td>{{ todolist.time ? todolist.time|date('H:i') : ' No se ha colocado una hora para la tarea ' }}</td>
                </tr>
                <tr class='tableTr'>
                    <th>Categoria</th>
                    <td>{{ todolist.category }}</td>
                </tr>
                <tr class='tableTr'>
                    <th>Importante</th>
                    <td>{{ todolist.CategoryImportant ? todolist.CategoryImportant : 'No marcada como importante' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
